footer
  .footer-content
    h3 Chí Sơn Store
    p Luôn bắt kịp xu hướng, phục vụ tốt mọi đối tượng khách hàng
    ul.socials
      li
        a(href='#')
          i.fab.fa-facebook-f
      li
        a(href='#')
          i.fab.fa-instagram
      li
        a(href='#')
          i.fab.fa-twitter
      li
        a(href='#')
          i.fab.fa-youtube
  .footer-bottom
    p &copy; 2024 Chi Son Store. All rights reserved.