footer
  .footer-content
    h3 #{settingGeneral.websiteName}
    p #{settingGeneral.slogan}
    ul.socials
      li
        a(href='#')
          i.fab.fa-facebook-f
      li
        a(href='#')
          i.fab.fa-instagram
      li
        a(href='#')
          i.fab.fa-twitter
      li
        a(href='#')
          i.fab.fa-youtube
  .footer-bottom
    p &copy; #{settingGeneral.copyright}