footer.footer
  .container
    .footer-columns
      .footer-column
        h3 About Us
        p
          | Uy tín tạo nên thương hiệu!
      .footer-column
        h3 Quick Links
        ul
          li
            a(href='#') Home
          li
            a(href='#') Services
          li
            a(href='#') Contact
          li
            a(href='#') Blog
      .footer-column
        h3 Follow Us
        .social-icons
          a(href='#')
            i.fab.fa-facebook-f
          a(href='#')
            i.fab.fa-twitter
          a(href='#')
            i.fab.fa-instagram
          a(href='#')
            i.fab.fa-youtube
      .footer-column
        h3 Subscribe
        p Get the latest updates right in your inbox.
        form.subscribe-form
          input(type='email' placeholder='Your Email')
          button(type='submit') Subscribe
    .footer-bottom
      p &copy; 2024 Your Website Name. All rights reserved.
