extends ../../layouts/default.pug
block main
    .card-user.mt-5
        .customer-details-user
            h2 #{user.fullName}
            p #{user.email}
            a(
                class="btn btn-outline-danger"
                href=`/user/infor/edit`
            ) Sửa thông tin cá nhân