doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 404 - Kh&ocirc;ng t&igrave;m th&#x1EA5;y trang
  link(rel="stylesheet", href="/css/404.css")
.container
  h1.animation 404
  p Oops! Có vẻ bạn đang lạc đường. Trang này không tồn tại.
  button.button(onclick="history.back()") Quay lại trang trước
